{{!-- NAVBAR --}}
<div class="navigation fixed-top">
    <nav class="navbar navbar-expand-lg navigation__nav" id="navbar">
        <div class="container-fluid">

            <a class="navbar-brand navigation__logo" href="#"><img src="../img/Logo_Slaytag.png" style="width: 50px; height: 50px;"
                    alt="logo" id="logo"></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse navigation__collapse" id="navbarNav">
                <ul class="navbar-nav navigation__list">

                    <li class="nav-item active navigation__item">
                        <a class="nav-link navigation__link" href="/about-us">About us<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navigation__link" href="/wishlist"><i class="fas fa-heart"></i>list</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navigation__link" href="/history">History</a>
                    </li>
                </ul>
            </div>

            <form class="form-inline my-2 my-lg-0" action="/app" method="get">
                <button id="home" class="btn btn-sm btn-outline-secondary btn--home" title="Back to HOME page" type="submit"><i
                        class="fas fa-home"></i></button>
            </form>

            <form class="form-inline">
                <a>
                    <button class="btn btn-sm btn-outline-secondary" id="qsLogoutBtn" type="button">Log Out</button>
                </a>
            </form>

        </div>
        <!--End container-fluid-->
    </nav>
</div>
<!-- END NAVBAR -->


{{!-- After User search - render Bestbuy and eBay items go HERE --}}
<main>
    <section class="section-result u-margin-bottom-medium">
        <div class="u-center-text u-padding-top-medium">
            <h2 class="heading-secondary u-margin-bottom-small">Results</h2>
        </div>
        <div class="container">
            <div class="row">

                {{!-- BESTBUY column --}}
                <div class="col-lg-6 col-md-5 col-sm-12">
                    <h3 class="heading-tertiary u-margin-bottom-small u-center-text">
                        <img src="../img/bestBuy-logo.png" class="heading-tertiary__img" style="width: 101px; height: auto;"
                            alt="BestBuy-logo">
                    </h3>
                    <div class="card__details">
                        <div class="list-item" id="bestBuy-item">
                            <ul id="example-list" class="list-group">
                                {{#each bbEntries}}
                                <li class="card-box card-box--product__bestbuy"><b>Product No.{{@key}}: </b>{{this.name}}</li>
                                <li class="card-box card-box--sku"><b>SKU #: </b>{{this.sku}} </li>
                                <li class="card-box card-box--price"><b>Price: $</b>{{this.price}} <span><img src="../img/bestBuy-logo.png"
                                            style="width: 28px; height: auto;" alt="BestBuy-logo"></span></li>
                                <li class="card-box card-box--item"><a href={{this.url}} class="btn btn-info card-box--link"
                                        role="button">Buy Now</a></li>
                                <br>
                                <hr>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                    </a>
                </div>

                {{!-- EBAY column --}}
                <div class="col-lg-6 col-md-5 col-sm-12">
                    <h3 class="heading-tertiary u-margin-bottom-medium u-center-text">
                        <img src="../img/eBay-logo.png" class="heading-tertiary__img" style="width: 148px; height: auto;"
                            alt="eBay-logo">
                    </h3>
                    <div class="card__details">
                        <div class="list-item" id="eBay-item">
                            <ul id="example-list" class="list-group">
                                {{#each ebEntries}}
                                <li class="card-box card-box--product__ebay"><b>Product No.{{@key}}: </b>{{this.name}}</li>
                                <li class="card-box card-box--sku"><b>SKU #: </b>{{this.sku}} </li>
                                <li class="card-box card-box--price"><b>Price: $</b>{{this.price}} <span><img src="../img/eBay-logo.png"
                                            style="width: 39px; height: auto;" alt="eBay-logo"></span></li>
                                <li class="card-box card-box--item"><a href={{this.url}} class="btn btn-info card-box--link"
                                        role="button">Buy Now</a></li>
                                <br>
                                <hr>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            {{!-- END ROW div --}}
    </section>
    </div>
</main>

{{!-- FOOTER --}}
<footer>
    <div class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="copyright">
                        <a href="https://github.com/Spinglez/p2_slaytags" class="card__link"><i class="fab fa-github fa-2x"></i>
                            <p>@Copyright By <span>SlayTags.2019</span></p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>